@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.woff2') format('woff2'),
      url('Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
  overflow-y:auto;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Helvetica', sans-serif;
}
#root{
  overflow-x: hidden;
}
.custom-inset-shadow {
  box-shadow: inset 8px 0px 0px 0px #c0a3fc
}
@media(max-width:768px){
  .swiper-slide{
    min-width: 100% !important;
  }
}